@charset "UTF-8"
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
@keyframes pulsar{
    0%{
        width: 56px;
        height: 56px;
    }
    100%{
        width: 65px;
        height: 65px;
    }
}  

*{  margin: 0;
    padding: 0;
    font-family: 'Metrophobic', sans-serif;
    box-sizing: border-box;
    color: #000;
    text-decoration: none;
}

header{
    width: 100%;
    padding: 30px;
    background: #ffffff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

img#logo{
  width: 70px;
  height: 43px;
  float: left;
}

nav{
    text-align: center;
}

nav a{
    padding: 17px;
    text-decoration: none;
}

section#inicio{
    display: block;
    background-image: url("https://image1.lacoste.com/dw/image/v2/AAQM_PRD/on/demandware.static/Sites-BRECOM-Site/Library-Sites-LacosteContent/pt_BR/dwcd5bd506/ss21/Brazil_SS21/WindowBR/lacoste-classicos-home-desk.jpg?imwidth=1665&impolicy=custom");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    object-fit: cover;
}

div.inicio{
    padding-top: 400px;
    padding-left: 70px;
    padding-bottom: 300px;
}

div.inicio button{
    font-size: 17px;
    color: #000000b9;
    border-radius: 20px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    width: 120px;
    min-height: 45px;
    cursor: pointer;
}

div.inicio button:hover{
    background-color: #292929;
    border-color: #545454;
    color: #fff;
    transition: 0.7s;
}

div.inicio p{
    padding-top: 10px;
    padding-bottom: 20px;
}

div.inicio h2{
    color: #000000;
    font-size: 1.5em;
}

section#carouselimagem{
    max-width: 50vw;
    position: relative;
    top: 5vh;
    bottom: 5vh;
    left: 50vh;
    box-shadow: 2px 1px 5px #292929;
}

div#itemscarousel{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

div#itemscarousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itemcarousel{
    flex: none;
    width: 50%;
    height: 400px;
    scroll-snap-align: start;
    pointer-events: none;
}

div#itemscarousel h1{
    position: absolute;
    bottom: 1vh;
    left: 5px;
    font-family:"Monument Extended";
    font-weight: lighter;
    font-size: 64px;
}

div#h2flex h2{
    padding-top: 50px;
    padding-left: 50px;
    font: inherit;
    font-weight: 600;
    font-size: 1.6em;
    line-height: 3.6rem;
    color: #292929;
}

section#categoria{
    padding-left: 50px;
}

div#categoriaall{
    display: flex;
    flex-wrap: wrap;
}

div.categoria1 p{
    padding-bottom: 20px;
    padding-left: 55px;
    text-decoration: underline;
    font-family: inherit;
    color: #292929d0;
    font-size: 1.1em;
}

div.categoria1 p:hover{
    text-decoration: none;
}

div.categoria2 p{
    padding-left: 55px;
    text-decoration: underline;
    font-size: 1.1em;
    font-family: inherit;
    color: #292929d0;;
}

div.categoria2 p:hover{
    text-decoration: none;
}

div.categoria3 p{
    text-decoration: underline;
    padding-left: 55px;
    font-size: 1.1em;
    font-family: inherit;
    color: #292929d0;
}

div.categoria3 p:hover{
    text-decoration: none;
}

img.itemcategoria{
    max-width: 100%;
    display: block;
    margin: 10px 50px 10px 50px;
    width: 346px;
    height: 484px;
    object-fit: cover;
}

div#h2foryou h2{
    display: block;
    margin-bottom: 40px;
    margin-left: 6vh;
    font-size: 1.6em;
    color: #292929f6;
}

section#foryou{
    max-width: 100vw;
    position: relative;
}

div#para-voce{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

section#foryou img{
    margin-bottom: 5px;
    object-fit: cover;
    width: 350x;
    height: 400px;
}

div.itemvoce{
    margin: 5px 0px 0px 20px;
    scroll-snap-align: center;
}

div.itemvoce1{
    margin: 5px 0px 0px 6vh;
    scroll-snap-align: center;
}

.pforyou{
    padding-left: 30px;
    font-size: 16px;
    color: #292929;
    font-family: inherit;
}

.pforyou:hover{
    text-decoration: underline;
}

p.valorparavc{
    padding: 10px 0px 0px 30px;
    color: #545454;
    font-weight: bold;
    font-family: 'Metrophobic', sans-serif;
}

section#polohome{
    margin-top: 20vh;
    margin-bottom: 20vh;
}

div.divpolohome{
    /*background-color: #ffa07a68;*/
    padding: 50px;
    display: flex;
    align-items: center;
}

img.polohome{
    
    display: inline-block;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

div.polohomeescrita{
    padding-left: 100px;
}

div.polohomeescrita h2{
    font-size: 1.6em;
    font-family: 'Metrophobic', sans-serif;
    color: #292929ee;
    padding-bottom: 10px;
}

div.polohomeescrita p{
    padding-bottom: 20px;
    font-family: inherit;
    color: #292929d0;
}

div.polohomeescrita button{
    color: #fff;
    background-color: #292929;
    border-radius: 20px;
    border: 1px solid #292929;
    min-height: 45px;
    width: 120px;
    cursor: pointer;
}

div.polohomeescrita button:hover{
    background-color: #fff;
    border-color: #ffffff;
    color: #292929;
    transition: 0.7s;
}   

div.final{
    padding: 50px;
    font-size: 14px;
    line-height: 1.5rem;
    display: column;
}

ul{
    padding-left: 50px;
    padding-bottom: 15px;
    display: inline-block;
    list-style: none;
}

li{
    display: list-item;
    font-family: 'Metrophobic', sans-serif;
}
li:hover{
    text-decoration: underline;
}

li.listprincipal{
    color: #545454;
    padding-bottom: 10px;
    font-size: 1em;
    line-height: 2rem;
    text-decoration: none;
}

li.listprincipal0{
    color: #545454;
    font-size: 1em;
    line-height: 2rem;
    text-decoration: none;
}

img#iconwttps{
    display: inline-block;
    position: fixed;
    outline: none;
    bottom: 10px;
    right: 10px;
    width: 56px;
    height: 56px;
    animation: pulsar;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}

section#saleh2section{
    display: block;
    margin: 13vh 0vh 13vh 0vh;
}

div#saleh2div h2{
    text-align: center;
    font-size: 2em;
    font-family:Arial, Helvetica, sans-serif;
    color: #292929;
}

section#salesection{
    width: 98vw;
}

section#salesection2{
    width: 98vw;
    margin-top: 50px;
}

div#saleitemsdiv{
    display: flex;
    flex-flow: row wrap;
}

div#saleitemsdiv img{
    width: 350px;
    height: 350px;
    object-fit: cover;
}

div.saleitem1{
    margin: 5.6px;
}

p.saleitemp{
    margin: 5.6px;
    font-size: 0.9em;
    font-family: inherit;
    color: #292929
}

p.saleitemp:hover{
    text-decoration: underline;
}

p.salepreço{
    color: #26504c;
    font-family:"Monument Extended";
    font-size: 1em;
    margin: 5.6px;
}

div.saledesconto{
    background-color: #0d564d;
    color: #fff;
    border-radius: 5px;
    width: 8.8em;
    height: 2em;
    padding: 5px;
    margin: 5.6px;
    font-size: 0.8em;
}

section#femininoh2section{
    display: block;
    margin: 5vh 0vh 10vh 5vh;
}

div#femininoh2div h2{
    font-size: 1.7em;
    font-family: Arial, Helvetica, sans-serif;
    color: #292929;
}

div#resultadofeminino{
    margin: 0px 0px 10px 30px;
}


div#resultadofeminino p{
    font-size: 1em;
    font-family: inherit;
    color: #292929;
}

p.femininopreço{
    color: #545454;
    font-weight: bold;
    font-family: 'Metrophobic', sans-serif;
    margin-left: 5.6px;
}
