@charset "UTF-8"
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

*{  margin: 0;
    padding: 0;
    font-family: 'Metrophobic', sans-serif;
    box-sizing: border-box;
    color: #000;
    text-decoration: none;
}

header{
    width: 100%;
    padding: 30px;
    background: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

img#logo{
  width: 70px;
  height: 43px;
  float: left;
}

nav{
    text-align: center;
}

nav a{
    padding: 17px;
    text-decoration: none;
}

section#inicio{
    display: block;
    background-image: url("../imagens/vestido-neon.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 200%;
    object-fit: cover;
    
}

div.inicio{
    padding-top: 400px;
    padding-left: 70px;
    padding-bottom: 400px;
}

div.inicio button{
    font-size: 17px;
    color: #000000b9;
    border-radius: 20px;
    background-color: #ffffff;
    width: 120px;
    height: 40px;
}

div.inicio p{
    padding-top: 10px;
    padding-bottom: 20px;
}

div.inicio h2{
    color: #000000;
    font-size: 1.5em;
}   

div#h2flex h2{
    padding-top: 50px;
    padding-left: 50px;
    font: inherit;
    font-weight: 600;
    font-size: 1.6em;
    line-height: 3.6rem;
    color: #292929;
}

section#categoria{
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.categoria1{
    text-align: center;
    text-decoration: underline;
    font-family: 'Metrophobic', sans-serif;
    font-size: 1.1em;
    color: #545454a4;
}

div.categoria2{
    text-align: center;
    text-decoration: underline;
    font-family: 'Metrophobic', sans-serif;
    font-size: 1.1em;
    color: #545454a4;
}

div.categoria3{
    text-align: center;
    text-decoration: underline;
    font-family: 'Metrophobic', sans-serif;
    font-size: 1.1em;
    color: #545454a4;
}

img.itemcategoria{
    border: 20px solid #292929;
    border-image-source: url("../imagens/depositphotos_64379235-stock-photo-landscape-in-lilac-tones.jpg");
    border-image-slice: 10;
    max-width: 100%;
    display: block;
    margin: 10px;
    width: 346px;
    height: 484px;
    object-fit: cover;
}